{% extends 'base.html.twig' %}

{% block title %}Email de récupération de mot de passe envoyé{% endblock %}

{% block body %}
    <p>

        S'il existe un compte correspondant à votre e-mail, un e-mail vient d'être envoyé contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe.
        Ce lien expirera dans 1 heure.
    </p>
    <p>Si vous n'avez pas reçu ce mail, vérifiez le dossier de spams de votre boîte mail ou <a href="{{ path('app_forgot_password_request') }}">réessayez</a>.</p>
{% endblock %}
