{% extends 'base.html.twig' %}

{% block title %}Créer une ville{% endblock %}

{% block body %}

    <h2 class=" d-flex justify-content-center">Créer une ville</h2>

    <!-- affichage des messages d'erreur et de confirmation -->
    {% for group, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ group }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form(formVille) }}

    <a class="d-flex justify-content-center" href="{{ url('main_home') }}"><button value='annuler' class='btn btn-info mt-4'>Retour accueil</button></a>
{% endblock %}
