{% extends 'base.html.twig' %}

{% block title %}Créer une ville{% endblock %}

{% block body %}


    <h1 class="d-flex justify-content-center">Créer une ville</h1>

    {{ form(formVille) }}

    <div class="mb-3 d-flex justify-content-center">
        <a class="navbar-brand" href="{{ url('sortie_home') }}"><button value='annuler' class='btn btn-secondary'>Retour accueil</button></a>
    </div>
{% endblock %}
