{% extends 'base.html.twig' %}

{% block title %}Créer une ville{% endblock %}

{% block body %}


    <h2 class=" d-flex justify-content-center">Créer une ville</h2>

    {{ form(formVille) }}

    <a class="d-flex justify-content-center" href="{{ url('main_home') }}"><button value='annuler' class='btn btn-secondary mt-4'>Retour accueil</button></a>
{% endblock %}
