{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="d-flex justify-content-center">
        <img src="{{ asset('img/errror404.jpg') }}">
    </div>
{% endblock %}