{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Un problème est survenu lors de l'équipement de votre armure</h1>
    <div class="d-flex justify-content-center">
        <img src="{{ asset('img/error500.jpg') }}">
    </div>
{% endblock %}