{# templates/bundles/TwigBundle/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre tentative de voyage temporel n'a pas abouti...</h1>

    <img src="{{ asset('img/error403.jpg') }}">
{% endblock %}